.item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.item-exit {
  opacity: 1;
  transform: translateY(0);
}

.item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}

.App {
 
  flex-direction: column;
  align-items: center;
  font-family: 'Marker Felt';
  padding: 7rem;
  background-color: rgb(204, 240, 251);
  max-width: 35%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}

.todo-item span {
  flex-grow: 1;
  padding-right: 8rem;
  font-family:'Bradley Hand';
  font-size: large;
  
}

.input {
  margin-bottom: 1rem;

}

.title {
  font-family:'Chalkduster';
  color: rgb(0, 81, 255);
  margin-bottom: 1rem;
}